{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Thank You!</h2>
                    <p class="lead">Your RSVP has been successfully submitted.
                    </p>
                    <p>You can return to this link at any time to view or update
                        your response.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}